main {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    
}

.AboutUs {
    flex: 2; 
    margin-right: 20px;
    margin-left: 200px;
    
}
aside {
    flex: 1; 
    background-color: white;
    padding: 15px;
    margin-right: 200px;
}

h2 {
    color: rgb(93, 175, 93);
    margin-bottom: 15px;
}

p {
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
}

strong {
    color: #000; 
}

h4 {
    color: #444; 
    margin-top: 15px;
}
